.cabecalho {
    background-color: aqua;
    color: black;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}
.cabecalho-imagem {
    width: 5%;
    height: 5%;
}
* {
    margin: 0;
    padding: 0%;
}
.cabecalho-item {
    display: inline-block;
    font-size: 30px;
    padding: 0 0 0 30px;
}
.escola {
    background-color: rgb(132, 226, 195);
    color: black;
    font-size: 21px;
    padding: 300px 250px;
}
.escola-titulo {
    padding: 24px 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(209, 209, 179);
}
.estudante-div{
    text-align: center;
    padding: 24px 0;
}
.estudante-titulo{
    padding: 30px;
    text-align: center;
}
.estudante-imagem{
    width: 120px;    
}
.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
footer {
    background-color: black;
    padding: 15px 0;
    text-align: center;
}
.rodape-imagem {
    width: 80px;
}